/* Mise en place d'un box-sizing à l'ensemble du site */

/* * {
  box-sizing: border-box;
} */

/* Mise en forme du body dans son conteneur */

body {
  max-width: 1360px;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  background-color: #333;
}

/* Mise en forme photo de profil */

.photo {
  display: flex;
}

.photo-profil {
  width: 100px;
  height: 100px;
  transform: rotate(40deg);
  transition: 0.5s ease;
}

.photo-profil:hover {
  transform: scale(1.5) rotate(40deg);
}

/* Mise en forme cadre photo de profil */

.carre {
  display: flex;
  justify-content: center;
  height: auto;
  margin: 0 auto 0 0;
  padding: 2rem;
  background-color: #adadad;
  border: #000000 solid 8px;
}

.rond {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 125px;
  height: 125px;
  padding: 1rem;
  background: linear-gradient(
    to right,
    #00678c 25%,
    #1572b6 25% 50%,
    #33a9dc 50% 75%,
    #05d8fd 75%
  );
  transform: rotate(-45deg);
}

.name {
  margin: 0;
}

h3 {
  margin: 0 0 1rem 0;
}

/* Mise en forme Prénom Nom */

.prenom {
  line-height: 0px;
}

.nom {
  line-height: 25px;
}

/* Style du trait de séparation */

.trait {
  display: block;
  width: 6rem;
  height: 5px;
  background-color: #ff1616;
}

/* Mise en forme des logos cliquable */

.logo-cliquable {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #333, #adadad, #333);
}

.linkedin {
  width: 90px;
  height: 90px;
  transition: 1.5s ease;
}

.linkedin:hover {
  transform: scale(1.5);
}

.github {
  width: 60px;
  height: 60px;
  transition: 1.5s ease;
}

.github:hover {
  transform: scale(1.5);
}

/* Mise en page des logos de langage */

strong {
  color: #05d8fd;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 0;
}

.logo li {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.logo li a.certificat {
  display: flex;
  flex-direction: row-reverse;
}

.logo li a.certificat img {
  animation: bounce 1.5s infinite ease;
}

.logo li a.certificat:hover img {
  animation: bounce 1.5s both;
}

.logo li a.certificat:hover img {
  animation: none;
}

.logo li img {
  width: 30px;
  height: 30px;
  padding-right: 1.5rem;
  transition: all 0.5s ease;
}

.logo li:hover img {
  transform: scale(1.25);
}

/* Disposition des blocks */

.left-card {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.right-card {
  display: flex;
  flex-direction: column;
}
.right-card ul {
  padding: 0;
}

/* Média Queries - Adaptation sur écran de plus de 768px */

@media screen and (min-width: 768px) {
  body {
    display: flex;
  }

  .right-card {
    margin-left: 40px;
  }

  .left-card {
    max-width: 30%;
  }

  .right-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

/* Média Queries - Adaptation sur écran de plus de 950px */

@media screen and (min-width: 950px) {
  /* Mise en forme des containers par Item */

  .container-photo-et-reseaux,
  .container-profil,
  .container-competences,
  .container-engagements-associatifs,
  .container-coordonnees,
  .container-parcours-professionnel,
  .container-formation,
  .container-projets-realises {
    background-color: #404040;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 25px;
  }

  /* Mise en forme cadre photo de profil */

  .carre {
    margin: auto;
  }
}
