/* Mise en forme photo de profil */

.photo-profil {
  width: 100px;
  height: 100px;
  transform: rotate(40deg);
}

/* Mise en forme cadre photo de profil */

.carre {
  display: flex;
  justify-content: center;
  height: auto;
  margin: 0 auto 0 0;
  padding: 2rem;
  background-color: grey;
  border: black solid 8px;
}

.rond {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 125px;
  height: 125px;
  padding: 1rem;
  background: linear-gradient(
    to right,
    #00678c 25%,
    #1572b6 25% 50%,
    #33a9dc 50% 75%,
    #05d8fd 75%
  );
  transform: rotate(-45deg);
}

.name {
  margin: 0;
}

h3 {
  margin: 0;
}

/* Mise en forme Prénom Nom */

.prenom {
  line-height: 0px;
}

.nom {
  line-height: 25px;
}

/* Couleur de fond de la page */

body {
  max-width: 1360px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  background-color: #545454;
}

/* Style du trait de séparation */

.trait {
  display: block;
  width: 6rem;
  height: 5px;
  background-color: #ff1616;
}

/* Mise en forme des logos cliquable */

.logo-cliquable {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.linkedin {
  width: 90px;
  height: 90px;
}

.github {
  width: 60px;
  height: 60px;
}

/* Mise en page des logos de langage */

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 0;
}

.logo li {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.logo li img {
  width: 50px;
  height: 50px;
  padding-right: 1.5rem;
}

/* Disposition des blocks */

.left-card {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.right-card {
  display: flex;
  flex-direction: column;
}
.right-card ul {
  padding: 0;
}

/* Média Queries - Adaptation sur écran de plus de 768px */

@media screen and (min-width: 768px) {
  body {
    display: flex;
  }
  .right-card {
    margin-left: 40px;
  }
  .left-card {
    max-width: 30%;
  }
  /* .right-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */
}
